{% extends "base.html" %}
	{% block header %}
		<div class="container">
			<div class="row flash">
				<div class="col-md-12 text-right">
					{% with messages = get_flashed_messages() %}
					{% if messages %}

					<ul>
						{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}
				</div>
			</div>

			<form action="{{url_for('addItemToCatalog')}}" method="post">
				<div class="form-group">
					<h2>Add Item</h2>
				</div>
				<div class="form-group">
					<label>Title</label>
					<input type="text" name="name" class="form-control"/>
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea type="text" name="description" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<select name="categories" class="form-control">
						{% for category in categories%}
						<option value="{{category.name}}">{{category.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" class="form-control"/>
				</div>
			</form>
		</div>
{% endblock %}